<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NieR:Automata</name>
    <description>Petite app présentant le jeu NieR:Automata</description>
    <author email="contoux1u@etu.univ-lorraine.fr">
        Antoine Contoux
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />   
    <allow-navigation href="*youtube*" />
    <allow-navigation href="*ytimg*" />
    <allow-navigation href="*youtube-nocookie*" />
</widget>
